body {
  background-image: url("assets/linedpaper.png");
  background-color: #edf2f4;
  color: #2b2d42;
}

.time {
  font-size: 96px;
}

.controls {
  margin-top: 15px;
  margin-bottom: 35px;
}

.controls > button {
  margin-left: 15px;
  margin-right: 15px;
}

.summary {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #8d99ae;
}

.list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.panel-info > .panel-heading {
  background-color: #8d99ae;
  color: #fff;
  border: none;
}

.panel {
  border: none;
}

.table{
  color: #2b2d42;
}

th > .glyphicon {
  margin-left: 10px;
}
