.list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.table {
  color: #2b2d42;
}

th > .glyphicon {
  margin-left: 10px;
}

.table > thead > tr > th {
  border-bottom: 2px solid #8d99ae;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid transparent;
}

.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > thead > tr > td.info,
.table > thead > tr > th.info {
  background-color: rgba(141, 153, 174, 0.3);
}

.task-cell {
  width: 70%;
}

.break {
  font-weight: normal;
}

.text-muted a {
  color: #8d99ae;
}

.text-muted a:hover {
  color: rgba(141, 153, 174, 0.5);
}
